:root {
  --default-green: #1db954;
  --default-green-light: #1cd85e;
  --black: #000000;
  --grey: #181818;
  --darkest-grey: #121212;
  --soft-grey: #282828;
  --soft-grey-2: #404040;
  --light-grey: #b3b3b3;
  --grey-white: #b9b9b9;
  --white: #fff;
}